{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
         {% for message in app.flashes('error') %}
                <div class="alert alert-danger">{{ message }}</div>
         {% endfor %}
            <h2 class="mb-3">Registro</h2>
           

            {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': ''}}) }}
            
            <div class="form-group">
                {{ form_row(form.email, {
                    'label': 'Correo electrónico',
                    'attr': {'class': 'form-control'}
                }) }}
            </div>
            
            <div class="form-group">
                {{ form_row(form.plainPassword.first, {
                    'label': 'Contraseña',
                    'attr': {'class': 'form-control'}
                }) }}
            </div>
            
            <div class="form-group mb-3">
                {{ form_row(form.plainPassword.second, {
                    'label': 'Confirma tu contraseña',
                    'attr': {'class': 'form-control'}
                }) }}
            </div>
            
            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
            
            {{ form_end(form) }}
            
            <div class="mt-4">
                ¿Ya tienes una cuenta? <a href="{{ path('app_login') }}" class="link-primary">Iniciar sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
