<h1>INSERIR FAMOSO✅</h1>
{{ form_start(form, {
                'attr': {
                    'id': 'miFormulario'
                    }}) }}

       <div>
           {{ form_label(form.nombre) }}
           {{ form_widget(form.nombre, {
            'attr': {
                'required': 'required'
            }
            }) }}

        </div>

        <div>
            {{ form_label(form.apellido) }}
            {{ form_widget(form.apellido, {'attr': {
                'required': 'required'
            }
            }) }}
        </div>

        <div>
            {{ form_label(form.profesion) }}
            {{ form_widget(form.profesion, {'attr': {
                'required': 'required'
            }
            }) }}
        </div>
        <button type="submit">Guardar</button>

{{ form_end(form) }}
