{% extends 'base.html.twig' %}

{% block title %}FAMOSOS{% endblock %}

{% block body %}

<div class="example-wrapper">

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="flex justify-end">
    <p>Bienvenido {{ app.user.email }}</p>
    <form action="{{ path('app_logout') }}" method="post">
        <button type="submit" class="btn btn-secondary">Logout</button>
    </form>
    </div>
{% endif %}


{% block modales %}

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#miModal">
    Insertar Datos
</button>
{# Ventana Modal con Formulario para insertar datos#}
<div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h3>INSERIR FAMOSO✅</h3>
            </div>
            <div class="modal-body">
            {{ form_start(form, {
                'attr': {
                    'id': 'miFormulario'
                    }}) }}          
                    {% include '/main/formulario.html.twig' %}   
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" id="confirmarEnvio" class="btn btn-primary">Confirmar</button>
               {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>


{# Ventana Modal con Formulario para actualizar datos #}
<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>EDITAR FAMOSO✅</h3>
            </div>
            <div class="modal-body" id="editarModalBody">
                <form id="editarForm" action="javascript:void(0);" method="post">
                    <input type="hidden" name="id" id="id_famoso">
                    <div class="mb-3">
                        <label for="inputNombre">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="inputNombre">
                    </div>
                    <div class="mb-3">
                        <label for="inputApellido">Apellido</label>
                        <input type="text" class="form-control" name="apellido" id="inputApellido">
                    </div>
                    <div class="mb-3">
                        <label for="inputProfesion">Profesion</label>
                        <input type="text" class="form-control" name="profesion" id="inputProfesion">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" form="editarForm" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-body">
     {% include '/main/datostabla.html.twig' %}
</div>
{% endblock %}
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

$(document).ready(function() {
     $('#miModal').on('show.bs.modal', function(e) {
        // Resetea el formulario completo dejando sin datos
        $('#miFormulario').trigger('reset');
    });

    // cuando el modal está completamente abierto enfoca el primer campo
    $('#miModal').on('shown.bs.modal', function(e) {
        $('#miFormulario input:first').focus();
    });

    $('#editarModal').on('show.bs.modal', function(e) {
        // Resetea el formulario completo para poder visualizar el nuevo dato
        $('#editarForm  ').trigger('reset');
    });


    // ese evento carga los datos del famoso en el formulario
    $(document).on('click', '.editarBtn', function() {
        const famosoId = $(this).data('id');
        const url = `/info/${famosoId}`;

        // aqui se hace una solicitud para obtener los datos del famoso
        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error en la respuesta');
                }
                return response.json();
            })
            .then(data => {
                // aqui se rellena el formulario con los datos obtenidos
                $('#id_famoso').val(data.id);
                $('#inputNombre').val(data.nombre);
                $('#inputApellido').val(data.apellido);
                $('#inputProfesion').val(data.profesion);

                // se muestra la ventana modal con el formulario rellenado
                $('#editarModal').modal('show');
            })
            .catch(error => console.error('Error:', error));
    });

    // Manejo del evento de envío del formulario de edición
    $('#editarForm').on('submit', function(e) {
        e.preventDefault();

        const famosoId = $('#id_famoso').val();
        const formData = new FormData(this);

        fetch(`/editar/${famosoId}`, {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            if(data.success) {
                $('#editarModal').modal('hide');
                alert('Famoso actualizado con éxito.');
                $('#famososTabla').DataTable().ajax.reload();
            } else {
                alert('Hubo un error al actualizar el famoso.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error al enviar los datos. Intente nuevamente.');
        });
    });
});


    //funcion para la insercion de un nuevo famoso
    document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('confirmarEnvio').addEventListener('click', function (e) {
        e.preventDefault(); 
        
        const formData = new FormData(document.querySelector('#miModal form'));
    
        fetch('{{ path('form_datos') }}', {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            if(data.success) {
                $('#miModal').modal('hide'); // Cierra la modal de formulario
                mostrarModalConfirmacion('Los datos han sido enviados exitosamente.');
                $('#famososTabla').DataTable().ajax.reload(); // Recarga DataTables
                 $('#miFormulario').trigger('reset');
               
            } else {
                $('#miModal').modal('hide'); // Cierra la modal de formulario
                mostrarModalConfirmacion('Error al enviar los datos. Por favor, intente nuevamente.');
            }
        })
        .catch((error) => {
            console.error('Error:', error);
            mostrarModalConfirmacion('Error al enviar los datos. Por favor, intente nuevamente.');
        });
    });
});

    function mostrarModalConfirmacion(mensaje) {
        alert(mensaje); 
    }


    function confirmDelete(nombre) {
    return confirm('¿Está seguro? Esta acción irá borrar el dato "' + nombre + '".');
        }
        window.addEventListener('DOMContentLoaded', (event) => {
            const firstInput = document.querySelector('input');
            if(firstInput) {
                firstInput.focus();
            }
        });

function configurarBotones() {
    return [
        {
            extend: 'excelHtml5',
            text: 'Exportar a Excel',
            title: 'Datos de Famosos',
            exportOptions: {
                columns: [0, 1, 2, 3]
            }
        },
        {
            extend: 'pdfHtml5',
            text: 'Exportar a PDF',
            title: 'Datos de Famosos',
            orientation: 'portrait',
            pageSize: 'A4',
            exportOptions: {
                columns: [0, 1, 2, 3]
            },
            customize: function(doc) {
                // Centrar la tabla en la página PDF
                var docContent = doc.content[1];
                docContent.margin = [ 0, 0, 0, 0 ]; // [left, top, right, bottom]
                docContent.table.widths = Array(docContent.table.body[0].length + 1).join('*').split('');
                // En ese apartado se puede ajustar para cambiar la posición de la tabla horizontalmente
                docContent.layout = {
                    hLineWidth: function(i, node) {
                        return 0.5;
                    },
                    vLineWidth: function(i, node) {
                        return 0.5;
                    },
                    hLineColor: function(i, node) {
                        return '#aaa';
                    },
                    vLineColor: function(i, node) {
                        return '#aaa';
                    },
                    paddingLeft: function(i, node) {
                        return 4;
                    },
                    paddingRight: function(i, node) {
                        return 4;
                    },
                    paddingTop: function(i, node) {
                        return 2;
                    },
                    paddingBottom: function(i, node) {
                        return 2;
                    }
                };
            }
        },
        {
            extend: 'print',
            text: 'Imprimir',
            title: 'Datos de Famosos',
            exportOptions: {
                columns: [0, 1, 2, 3]
            }
        },
        {
            extend: 'copy',
            text: 'Copiar',
            exportOptions: {
                columns: [0, 1, 2, 3]
            }
        }
    ];
}


$(document).ready(function() {
     $('#famososTabla').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "{{ path('datos_tabla') }}",
        "columns": [
            { "data": "id" },
            { "data": "nombre" },
            { "data": "apellido" },
            { "data": "profesion" },
            { "data": "editar", "orderable": false },
            { "data": "borrar", "orderable": false }
            ],
        language: {
            url: '//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json'
        },  dom: '<"top"lBf>rt<"bottom"ip><"clear">',
        buttons: configurarBotones()
    });

     $('#miFormulario').submit(function(e) {
            e.preventDefault();
            alert('Datos enviados!');
            this.submit();
            
        });
    $('#editarFormulario').submit(function(e) {
            e.preventDefault();
            alert('Datos actualizados!');
            this.submit();
            
        });
});

    </script>
{% endblock %}


